<%= render "item_categories/card", item_category: @item_category %>

<div class="card" align="center">
  <p>
    <%= link_to 'See all item categories <i class="fa fa-home"></i>'.html_safe, item_categories_path %>
  </p>
</div>

<%= render "app/link_sound.js", _class: true, link_id: :survey_interactive_link, sound: :post_interface_sound %>
