<div class="blog_post_card">
  <div class="blog_post_img_container">
    <%= image_tag "blog/splash.jpg", class: :blog_post_img %>
  </div>
  
  <div class="blog_post_date link_soft">
    March 23, 2020 —
  </div>
  <div class="blog_post_title">
    Updating Lil' C. Corleone's Website
  </div>
  <div class="blog_post_body">
    Using a ‘Teensy’ microcontroller/USB HID you can easily create physical push buttons for your project that, when pressed, will appear as key strokes in your application. This is a really flexible approach to adding physical buttons to an array of different web, desktop or even mobile applications. This post will show you how to do it.
  </div>
  <div class="blog_post_category link_soft">
    Web Development - Ruby on Rails
  </div>
</div>
