<div class="blog_post_card">
  <div class="blog_post_img_container">
    <%= image_tag "blog/splash.jpg", class: "blog_post_img lazy", lazy: true %>
  </div>

  <div class="blog_post_item blog_post_date link_soft">
    March 23, 2020 —
  </div>
  <div class="blog_post_item blog_post_title">
    Updating Lil' C. Corleone's Website
  </div>
  <div class="blog_post_item blog_post_body">
    I recently updated a landing page for one of my clients and although it is just a static website, I did still use Ruby on Rails among other software to deploy their updated website. Lil' C. Corleone's web server includes a stack of Ubuntu Linux, Nginx, Unicorn, and Rails.
  </div>
  <div class="blog_post_category link_soft">
    Web Development - Ruby on Rails
  </div>
</div>
