<% if social_maya? %>
  <div class="card take_survey_card_border" align="center">
    <p id="social_maya_txt">
      <b>Social Maya is currently in development...</b> <%= image_tag "fire.gif", style: "width:30px;" %>
    </p>
  </div>

  <script>
    <%= render "app/fader.js", target: 'social_maya_txt', target_id: '', slow: true %>
  </script>

  <%= render "arts/app" %>
<% end %>


<%= render "sessions/form" if raleigh_dsa? or forrest_web_co? or forrest_wilkins? %>
