<div align="center" id="new_search_form">
  <% placeholder = (session[:query] ? "Last query: #{session[:query]}" : "Search") %>
  <%= form_tag search_path, method: :get do |f| %>
	  <%= text_field_tag :query, nil, placeholder: placeholder, class: :search_form_text_field, id: :search_form_text_field %>

    <button type="submit" name="commit">
      <i class="fa fa-search"></i>
    </button>
  <% end %>
</div>
