/* line 17, app/assets/stylesheets/item_libraries.scss */
.item_library_index_card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 15px 7.5px;
  background: white;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 94.5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  max-width: 1750px;
  overflow: hidden;
}

/* line 23, app/assets/stylesheets/item_libraries.scss */
.shared_items_container {
  float: left;
  width: 70%;
}

@media screen and (max-width: 975px) {
  /* line 30, app/assets/stylesheets/item_libraries.scss */
  .shared_items_container {
    width: 100%;
  }
}
