/* line 5, app/assets/stylesheets/likes.scss */
.nooice_img {
  width: 35px;
}

/* line 9, app/assets/stylesheets/likes.scss */
.border_flash_like {
  animation: border_flasher 1s;
  border-color: #779ecb;
}

/* line 14, app/assets/stylesheets/likes.scss */
.border_flash_love {
  animation: border_flasher 1s;
  border-color: #ff6961;
}

/* line 19, app/assets/stylesheets/likes.scss */
.border_flash_whoa {
  animation: border_flasher 1s;
  border-color: #77dd77;
}

/* line 24, app/assets/stylesheets/likes.scss */
.border_flash_zen {
  animation: border_flasher 1s;
  border-color: #88e3b6;
}

@keyframes border_flasher {
  0% {
    border-width: 0px;
    border-style: none;
    border-color: none;
  }
  50% {
    border-width: 2.5px;
    border-style: solid;
  }
  100% {
    border-width: 0px;
    border-style: none;
    border-color: none;
  }
}
