/* line 5, app/assets/stylesheets/pages.scss */
.circle_menu_nav_links {
  padding-top: 17.5px;
  padding-left: 7.5px;
}

/* line 10, app/assets/stylesheets/pages.scss */
.circle_menu_container {
  transition: all .4s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

/* line 20, app/assets/stylesheets/pages.scss */
.circle_menu_open {
  background: white;
  width: 100%;
  height: 100%;
  z-index: 15;
}

/* line 27, app/assets/stylesheets/pages.scss */
.circle_menu_link {
  transition: all .4s ease-out;
  position: relative;
  top: 10px;
  left: 10px;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

/* line 39, app/assets/stylesheets/pages.scss */
.circle_menu_rotate {
  transform-origin: 10px 10px;
  transform: rotate(225deg);
  background: #72FE95;
  box-shadow: 0 0 15px orange;
}

/* line 55, app/assets/stylesheets/pages.scss */
.circle_menu_section_top_left {
  transition: all .6s ease-in-out .4s;
  display: block;
  width: 50%;
  height: 50%;
  float: left;
  border-top-left-radius: 100%;
  background: #efffa7;
}

/* line 61, app/assets/stylesheets/pages.scss */
.circle_menu_section_top_right {
  transition: all .6s ease-in-out .4s;
  display: block;
  width: 50%;
  height: 50%;
  float: left;
  border-top-right-radius: 100%;
  background: #a7efff;
}

/* line 67, app/assets/stylesheets/pages.scss */
.circle_menu_section_bottom_left {
  transition: all .6s ease-in-out .4s;
  display: block;
  width: 50%;
  height: 50%;
  float: left;
  border-bottom-left-radius: 100%;
  background: #a7efff;
}

/* line 73, app/assets/stylesheets/pages.scss */
.circle_menu_section_bottom_right {
  transition: all .6s ease-in-out .4s;
  display: block;
  width: 50%;
  height: 50%;
  float: left;
  border-bottom-right-radius: 100%;
  background: #efffa7;
}

/* line 79, app/assets/stylesheets/pages.scss */
.circle_top_left_shift {
  transform: translate(-2.5px, -2.5px);
  background: pink;
}

/* line 85, app/assets/stylesheets/pages.scss */
.circle_top_right_shift {
  transform: translate(2.5px, -2.5px);
  background: lightblue;
}

/* line 91, app/assets/stylesheets/pages.scss */
.circle_bottom_left_shift {
  transform: translate(2.5px, 2.5px);
  background: pink;
}

/* line 97, app/assets/stylesheets/pages.scss */
.circle_bottom_right_shift {
  transform: translate(-2.5px, 2.5px);
  background: lightblue;
}

/* line 103, app/assets/stylesheets/pages.scss */
.loading_gif {
  width: 40%;
  margin-top: 50px;
}

/* line 108, app/assets/stylesheets/pages.scss */
.side_pane_activity {
  text-align: left;
  padding-left: 10px;
  margin-top: -7.5px;
  width: 100%;
}

/* line 115, app/assets/stylesheets/pages.scss */
.right_pane_sub {
  position: relative;
  width: 100%;
  min-height: 80px;
  margin-bottom: 12.5px;
  padding-top: 12.5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

/* line 125, app/assets/stylesheets/pages.scss */
.right_pane {
  position: absolute;
  right: -262.5px;
  top: -7.5px;
  width: 250px;
}

/* line 132, app/assets/stylesheets/pages.scss */
.left_pane {
  position: fixed;
  left: 10%;
  top: 45px;
  width: 15%;
  height: 300px;
}

/* line 140, app/assets/stylesheets/pages.scss */
.side_pane_label {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 146, app/assets/stylesheets/pages.scss */
.right_pane_label {
  margin-left: 5px;
}

/* line 150, app/assets/stylesheets/pages.scss */
.side_pane_label_successive {
  padding-top: 10px;
}

/* line 154, app/assets/stylesheets/pages.scss */
.side_pane_item {
  text-align: left;
  padding-left: 10px;
  margin-top: -7.5px;
  width: 100%;
}

/* line 161, app/assets/stylesheets/pages.scss */
.buffer_pixel {
  width: 25%;
  height: 25%;
  float: right;
  font-size: 10px;
  text-align: center;
}

/* line 169, app/assets/stylesheets/pages.scss */
.buffer_wheel_grid_containor {
  width: 50px;
  height: 50px;
}

/* line 174, app/assets/stylesheets/pages.scss */
.load_wheel_pixel {
  width: 25%;
  height: 25%;
  float: right;
}

/* line 180, app/assets/stylesheets/pages.scss */
.load_wheel_container {
  width: 50px;
  height: 50px;
}

/* line 185, app/assets/stylesheets/pages.scss */
.load_wheel {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 5;
}

/* line 192, app/assets/stylesheets/pages.scss */
.load_circle {
  position: fixed;
  bottom: 12.5px;
  left: 15px;
  z-index: 5;
}

/* line 202, app/assets/stylesheets/pages.scss */
.load_bar_containor {
  width: 150px;
  height: 25px;
}

/* line 207, app/assets/stylesheets/pages.scss */
.load_bar_section {
  width: 6%;
  height: 100%;
  float: left;
  font-size: 10px;
  text-align: center;
}

/* line 215, app/assets/stylesheets/pages.scss */
.load_band_containor {
  width: 25px;
  height: 25px;
}

/* line 220, app/assets/stylesheets/pages.scss */
.load_band_section {
  width: 2%;
  height: 100%;
  float: left;
  font-size: 10px;
  text-align: center;
}

/* line 228, app/assets/stylesheets/pages.scss */
.load_circle_containor {
  margin-top: 25px;
  width: 30px;
  height: 30px;
  position: relative;
}

/* line 235, app/assets/stylesheets/pages.scss */
.load_circle_section {
  border-radius: 50%;
  width: 5%;
  height: 5%;
  position: absolute;
}

/* line 242, app/assets/stylesheets/pages.scss */
.load_fib_bar {
  width: 100%;
}

/* line 246, app/assets/stylesheets/pages.scss */
#vertical_load_screen {
  position: relative;
}

/* line 250, app/assets/stylesheets/pages.scss */
#loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  text-align: center;
  padding-top: 17.25px;
  color: white;
}

/* line 258, app/assets/stylesheets/pages.scss */
#still_loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

/* line 267, app/assets/stylesheets/pages.scss */
.fibonacci_loading {
  position: relative;
  max-width: 565px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 98.65%;
}

/* line 275, app/assets/stylesheets/pages.scss */
.fib_loading_label {
  font-size: 40px;
}

/* line 279, app/assets/stylesheets/pages.scss */
#standard_nav_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: white;
  margin-bottom: 15px;
  z-index: 5;
}

/* line 289, app/assets/stylesheets/pages.scss */
.standard_nav_menu_link {
  font-size: 26px;
  display: block;
  padding: 5px 5px;
  background: white;
}

/* line 296, app/assets/stylesheets/pages.scss */
#menu_link_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 47.5px;
  height: 40.5px;
  background: white;
  z-index: 1;
}

/* line 306, app/assets/stylesheets/pages.scss */
.slide_menu_container {
  transition: all .4s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: white;
  z-index: 10;
}

/* line 317, app/assets/stylesheets/pages.scss */
.slide_menu_toggle_link {
  transition: all .4s ease-in-out;
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  width: 40px;
  height: 40px;
}

/* line 327, app/assets/stylesheets/pages.scss */
.slide_menu_open {
  background: white;
  width: 100%;
  height: 100%;
  z-index: 20;
  position: fixed;
}

/* line 335, app/assets/stylesheets/pages.scss */
.slide_menu_toggle_link_span {
  transform: translateX(320px);
}

/* line 339, app/assets/stylesheets/pages.scss */
.plus_sign {
  transition: all .4s ease-in-out;
  font-weight: bolder;
  font-size: 35px;
  width: 100%;
  height: 100%;
  color: #afafaf;
  position: relative;
}

/* line 349, app/assets/stylesheets/pages.scss */
.plus_rotate {
  transform-origin: 20px 20px;
  transform: rotate(225deg);
}

/* line 354, app/assets/stylesheets/pages.scss */
.plus_fade {
  text-shadow: 1.25px 1.25px 1.25px pink;
  color: lightblue;
}

/* line 359, app/assets/stylesheets/pages.scss */
#toggle_menu_link {
  position: relative;
  top: 7.5px;
  left: 12.5px;
  font-size: 13px;
  color: #afafaf;
}

/* line 367, app/assets/stylesheets/pages.scss */
.return_home_link {
  position: absolute;
  top: 12.5px;
  left: 65.5px;
  color: black;
}

/* line 374, app/assets/stylesheets/pages.scss */
#scroll_to_top_link_icon {
  position: absolute;
  top: 12.5px;
  left: 17.5px;
}

/* line 380, app/assets/stylesheets/pages.scss */
.scroll_to_top_link_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 47.5px;
  height: 40.5px;
  z-index: 5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background: white;
}

/* line 391, app/assets/stylesheets/pages.scss */
.scroll_to_top_link {
  font-size: 20px;
  display: none;
}

/* line 407, app/assets/stylesheets/pages.scss */
.top_line_fader {
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 0px;
  z-index: 15;
}

/* line 411, app/assets/stylesheets/pages.scss */
.bottom_line_fader {
  transition: all 0.3s ease-out;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 0px;
  z-index: 15;
}

/* line 422, app/assets/stylesheets/pages.scss */
.top_line_faded {
  box-shadow: 0px 3.5px 1.25px 1.5px pink;
  background: lightblue;
  height: 3.5px;
}

/* line 428, app/assets/stylesheets/pages.scss */
.bottom_line_faded {
  box-shadow: 0px -3.5px 1.25px 1.5px pink;
  background: lightblue;
  height: 3.5px;
  bottom: 3.5px;
}

@media screen and (max-width: 975px) {
  /* line 437, app/assets/stylesheets/pages.scss */
  .right_pane {
    visibility: hidden;
    width: 0px;
    left: 0px;
  }
}
