/* line 5, app/assets/stylesheets/posts.scss */
.new_post_form_pulse {
  background: #779ecb;
  box-shadow: -7.5px -7.5px 7.5px #88e3b6;
}

/* line 10, app/assets/stylesheets/posts.scss */
.feed_loader_loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  color: black;
  position: relative;
  max-width: 650px;
  margin: 20px auto;
  width: 94.5%;
}

/* line 20, app/assets/stylesheets/posts.scss */
.floated_image {
  float: left;
  width: 20%;
}

/* line 25, app/assets/stylesheets/posts.scss */
.anon_post_check_box {
  transform: scale(0.75);
}

/* line 29, app/assets/stylesheets/posts.scss */
.anon_post_check_box_span {
  font-size: 10px;
}

/* line 33, app/assets/stylesheets/posts.scss */
.standard_post_link {
  font-size: 11px;
}

/* line 37, app/assets/stylesheets/posts.scss */
.post_mini_menu {
  position: absolute;
  top: 22.5px;
  right: 7.5px;
  width: 65px;
  height: 52.5px;
  z-index: 3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

/* line 47, app/assets/stylesheets/posts.scss */
.post_mini_menu_link {
  background: white;
  font-size: 13px;
  display: block;
  padding: 5px 5px;
}

/* line 54, app/assets/stylesheets/posts.scss */
.post_file_field {
  display: inline;
}

/* line 58, app/assets/stylesheets/posts.scss */
.post_time_ago_link {
  font-size: 11px;
  position: absolute;
  right: 20px;
  top: 5px;
}

/* line 65, app/assets/stylesheets/posts.scss */
#new_post_form_button {
  height: 35px;
  width: 200px;
  background: white;
}

/* line 71, app/assets/stylesheets/posts.scss */
#add_group_id_icon_link {
  position: absolute;
  bottom: 5px;
  right: 130px;
}

/* line 77, app/assets/stylesheets/posts.scss */
#add_audio_icon_link {
  position: absolute;
  bottom: 5px;
  right: 96.5px;
}

/* line 83, app/assets/stylesheets/posts.scss */
#add_image_icon_link {
  position: absolute;
  bottom: 5px;
  right: 55px;
}

/* line 89, app/assets/stylesheets/posts.scss */
#add_video_icon_link {
  position: absolute;
  bottom: 5px;
  right: 13.5px;
}

/* line 95, app/assets/stylesheets/posts.scss */
.standard_post_image {
  padding-top: 12.5px;
  width: 97.5%;
}

/* line 100, app/assets/stylesheets/posts.scss */
.standard_post_video {
  padding-top: 12.5px;
  width: 97.5%;
}

/* line 105, app/assets/stylesheets/posts.scss */
.posted_label {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 11px;
}

/* line 112, app/assets/stylesheets/posts.scss */
.posted_link {
  font-size: 11px;
}

@media screen and (max-width: 975px) {
  /* line 118, app/assets/stylesheets/posts.scss */
  .feed_loader_loading_label {
    font-size: 50px;
    max-width: 590px;
    margin: 20px auto;
    width: 94.5%;
  }
}
