/* line 12, app/assets/stylesheets/proposals.scss */
#new_proposal_form {
  padding-bottom: 35px;
}

/* line 16, app/assets/stylesheets/proposals.scss */
#add_proposal_form_link {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 11px;
}

/* line 23, app/assets/stylesheets/proposals.scss */
.views_count_icon {
  position: absolute;
  bottom: 2.5px;
  left: 5px;
}

/* line 29, app/assets/stylesheets/proposals.scss */
.views_count_size {
  font-size: 11px;
}

/* line 33, app/assets/stylesheets/proposals.scss */
.old_versions_count_icon {
  position: absolute;
  bottom: 2.5px;
  left: 37.5px;
}

/* line 39, app/assets/stylesheets/proposals.scss */
.top_right_glimmer {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5.5px;
  height: 5.5px;
}

/* line 47, app/assets/stylesheets/proposals.scss */
.bottom_left_glimmer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 5.5px;
  height: 5.5px;
}

/* line 55, app/assets/stylesheets/proposals.scss */
.bottom_right_glimmer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 5.5px;
  height: 5.5px;
}

/* line 63, app/assets/stylesheets/proposals.scss */
.proposal_body_text {
  font-size: 14px;
  margin-bottom: 15px;
  width: 85%;
}

/* line 69, app/assets/stylesheets/proposals.scss */
.proposal_title_text {
  font-size: 16.5px;
}

/* line 73, app/assets/stylesheets/proposals.scss */
#proposal_image {
  width: 98.5%;
  padding-top: 10px;
}

/* line 78, app/assets/stylesheets/proposals.scss */
#proposal_card_spacer {
  height: 7.5px;
}

/* line 82, app/assets/stylesheets/proposals.scss */
#hidden_file_field {
  width: 200px;
}

/* line 86, app/assets/stylesheets/proposals.scss */
.proposal_link_table {
  padding-bottom: 5px;
}

/* line 90, app/assets/stylesheets/proposals.scss */
#proposal_sections {
  position: relative;
  max-width: 655px;
  margin: 0 auto;
  width: 94.5%;
  height: 50px;
  margin-bottom: 12.5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

/* line 100, app/assets/stylesheets/proposals.scss */
.action_type_label {
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 11px;
}

/* line 107, app/assets/stylesheets/proposals.scss */
.section_text {
  margin: 17.5px 0px;
}

/* line 111, app/assets/stylesheets/proposals.scss */
#voting_section {
  background: black;
  text-align: center;
  float: left;
  height: 100%;
  width: 25%;
}

/* line 116, app/assets/stylesheets/proposals.scss */
#revision_section {
  background: black;
  text-align: center;
  float: left;
  height: 100%;
  width: 25%;
}

/* line 121, app/assets/stylesheets/proposals.scss */
#ratified_section {
  background: black;
  text-align: center;
  float: left;
  height: 100%;
  width: 25%;
}

/* line 126, app/assets/stylesheets/proposals.scss */
#all_section {
  background: black;
  text-align: center;
  float: left;
  height: 100%;
  width: 25%;
}

/* line 131, app/assets/stylesheets/proposals.scss */
.proposal_sub_section {
  background: black;
  text-align: center;
  float: left;
  height: 100%;
  width: 50%;
}

/* line 136, app/assets/stylesheets/proposals.scss */
.proposal_sub_tri_section {
  background: black;
  text-align: center;
  float: left;
  height: 100%;
  width: 33.33333%;
}
