/* line 5, app/assets/stylesheets/sessions.scss */
.fire_gif {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15%;
}

/* line 12, app/assets/stylesheets/sessions.scss */
.girl_gif {
  position: absolute;
  right: 15px;
  top: 2.5px;
  width: 15%;
}

/* line 19, app/assets/stylesheets/sessions.scss */
#remember_me_check_box {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 13px;
}
