/* line 5, app/assets/stylesheets/settings.scss */
.admin_items_list_container {
  overflow: hidden;
}

/* line 9, app/assets/stylesheets/settings.scss */
.admin_items_list {
  float: left;
  width: 50%;
  text-align: left;
}

/* line 15, app/assets/stylesheets/settings.scss */
.settings_expand {
  margin: 0 auto;
  width: 95%;
  padding: 15px 0px;
}

/* line 21, app/assets/stylesheets/settings.scss */
.settings_nav_link {
  transition: all 0.3s ease-in-out;
}

/* line 25, app/assets/stylesheets/settings.scss */
.settings_dropdown {
  transition: all 0.2s ease-in-out;
}

/* line 29, app/assets/stylesheets/settings.scss */
.settings_nav_container {
  transition: all 0.1s ease-in-out;
  z-index: 10;
}

/* line 34, app/assets/stylesheets/settings.scss */
.startled {
  width: 50%;
}

@media screen and (max-width: 975px) {
  /* line 40, app/assets/stylesheets/settings.scss */
  .admin_items_list {
    width: 40%;
    padding: 5%;
  }
}
