<div class="header_card">
  <h2 class="page_header">
    Freelance Web Designer & Developer from Smithfield, NC.
  </h2>
</div>

<%= image_tag "html_code.jpg", class: :main_img %>

<div class="card" align="left">
  <div class="card_col">
    <p class="link_soft">
      About
    </p>
    <p>
      Need a professional website made with quick turnaround for your business, company, or idea that hasn't launched yet?
    </p>
    <p>
      All of my websites are built from scratch using the web development framework known as Ruby on Rails. So whether it's a simple, static landing page for your art or music, or something more complex (e.g. custom social networks or inventory management systems), you've come to the right place.
    </p>
    <p>
      My specialties include website design, hosting, mobile responsive websites, search engine optimization, and full scale content management systems.
    </p>
  </div>

  <div class="card_col_spacer"></div>

  <div class="card_col">
    <p class="link_soft">
      Hire me
    </p>
    <p>
      So are you looking for a professional, communicative, and punctual software engineer with extensive web development skills?
    </p>
    <p>
      If you have an application you are interested in developing, a problem that needs solving or a project that needs rescuing, I'd love to help you with it.
    </p>
    <p>
      Send me an email:
    </p>
    <p>
      <%= link_to "forrestwilkins@protonmail.com", "mailto:forrestwilkins@protonmail.com", class: "link_underlined link_active" %>
    </p>
  </div>
</div>

<div class="card" align="left">
  <div class="card_content">
  </div>
</div>

<div class="card" align="left">
  <div class="card_content">
    <p class="link_soft">
      Projects
    </p>
    <p>
      <%= link_to "Interactive Art Apps made with Processing", "https://play.google.com/store/apps/developer?id=Forrest+Wilkins" %>
    </p>
  </div>
</div>
