<div class="section sign_up_section sign_up_page">
  <div class="sign_up_section_bg"></div>
  <div class="sign_up_vertical_spacer"></div>
  <div class="sign_up_card">
    <%= render "templates/clients/lil_c/sign_up_form" %>
  </div>
</div>
