<div class="card" align="center">
  <%= link_to "Close all", destroy_all_portals_path, method: :delete,
      data: { confirm: "Are you sure you want to close every single portal?" }, class: :top_right_link %>
  <p>
    Create portals to invite new members
  </p>
  <p>
    Defaults to <%= Portal::DEFAULT_REMAINING_USES %> use(s) and expires in
      <%= time_ago_in_words(Portal.expiration_date) %>
  </p>
  <%= render "connections/portal_link_form" %>
</div>
