<span id="current_avatar_nav_container">
  <% if current_user and profile_picture(current_user) %>
    <%= link_to user_path(current_user.unique_token), class: :current_token_link, title: "#{current_user.name}" do %>
      <%= image_tag profile_picture(current_user), class: :profile_picture_avatar %>
    <% end %>
  <% elsif current_user %>
    <%= render "users/anon_avatar", user: current_user, position: :current_token_link, current_avatar: true %>
  <% else %>
    <%= render "users/anon_avatar", token: anon_token, position: :current_token_link, current_avatar: true %>
  <% end %>
</span>
