<div class="album_section_txt">
  <div class="album_available">
    AVAILABLE NOW
  </div>
  <div class="album_name">
    IT'S DIFFERENT THIS TIME
  </div>

  <%= link_to "https://hypeddit.com/link/d5bxdp", target: :_blank, class: :album_available_button do %>
    <span style="white-space:pre;"><i class="fa fa-music" aria-hidden="true"></i>   AVAILABLE NOW</span>
  <% end %>
</div>
