<div class="menu_container">
  <div class="menu_container_bg"></div>
  <%= link_to non_link, class: "menu_link no_select" do %>
    <i class="fa fa-bars menu_icon" aria-hidden="true"></i>
    <i class="fa fa-times menu_icon menu_link_hidden" aria-hidden="true"></i>
  <% end %>
  <div id="nav_links" class="nav_links" hidden>
    <%= render "templates/clients/lil_c/nav_links" %>
  </div>
</div>

<script>
  function template_nav_menu() {
    var circle_menu = $(".menu_container");
    var circle_menu_bg = $(".menu_container_bg");
    var circle_link = $(".menu_link");
    var menu_icon = $(".menu_icon");
    // padding for nav_links, positioning
    var nav_links = $("#nav_links");
    // fix for nav_links
    var toggle = false;
    // toggles if circle_link clicked
    circle_link.click(function() {
      toggle_menu();
    });
    // closes circle_menu if user clicks outside of it
    $(document).click(function(e) {
      // if the target of the click isn't the container nor a descendant of the container
      if (!circle_menu.is(e.target) && circle_menu.has(e.target).length === 0 && toggle) {
        toggle_menu();
      }
    });
    // closes circle_menu if esc pressed
    $(document).keydown(function(e) {
      if (e.key == 'Escape' && toggle) {
        toggle_menu();
      }
    });
    $(".album_link").click(function (){
      toggle_menu();
    });
    function toggle_menu() {
      toggle = !toggle;
      circle_menu.toggleClass("menu_open");
      circle_menu_bg.toggleClass('menu_container_bg_open');
      circle_link.toggleClass('menu_link_open');
      menu_icon.toggleClass('menu_link_hidden');
      // nav_links render on delay
      if (nav_links.is(':hidden')) {
        setTimeout(toggle_nav_links, 400);
      } else {
        nav_links.fadeOut();
      }
    }
    function toggle_nav_links() {
      if (toggle) {
        nav_links.fadeIn();
      }
    }
  } template_nav_menu();
</script>
