<!-- condition set as string to always return as true, temporary -->
<% if "all_items.present? and all_items.size > page_size" %>
  <div align="center" id="buffer_wheel">
	  <script>
		  <%= render "pages/red_glimmer.js" %>
	  </script>

    <div class="buffer_wheel_grid_containor">
      <%= link_to non_link do %>
        <% 16.times do |num| %>
          <div class="buffer_pixel" id="loading_grid_pixel_<%= num %>"></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="footer_spacing"></div>
