<div class="card" align="center">
  <%= link_to '<i class="fa fa-trash"></i> Permanently delete this item'.html_safe, @shared_item, method: :delete,
    title: "Click here to permanently delete this post and any associated comments",
    data: { confirm: "Are you sure you want to permanently delete this post?" } %>
</div>
