<% if @shared_items_size > @shared_items.size %>
  <div id="load_more_items_anchor"></div>
  <div class="card" align="center" id="load_more_items_link">
    <p>
      <%= link_to "Load more items...", load_more_shared_items_path, remote: true %>
    </p>
  </div>

  <script>
    var link = $("#load_more_posts_link");
    link.click(function() {
      link.toggle();
      $("#load_bar").toggle();
    });
  </script>
<% end %>
