<div class="card take_survey_card_border" align="center">
  <h2 class="standard_page_header">
    <i class="fa fa-list"></i> Lending Library Index
  </h2>
</div>

<div class="item_library_index_card" align="center">
  <p class="showing_results_label">
    Showing all items for <%= link_to "#{@item_library.name} <i class=\"fa fa-book\"></i>".html_safe, show_item_library_path %>
  </p>

  <% if @shared_items.present? %>
    <div class="filter_form_container">
      <%= render 'shared_items/filter_form' %>
      <div id="shared_items_filter_form_anchor"></div>
    </div>
    <div class="shared_items_container">
      <%= render 'shared_items/stacked' %>
      <div id="shared_items_anchor"></div>
    </div>
  <% else %>
    <p>
      There aren't any items shared yet.
    </p>
  <% end %>
</div>

<div class="card" align="center">
  <p>
    <%= link_to '<i class="fa fa-book"></i> See Lending Library'.html_safe, show_item_library_path %>
  </p>
</div>
