<div class="post_mini_menu" id="survey_mini_menu_<%= survey.id %>">
  <% if own_item? survey or dev? %>
    <%= link_to 'Edit', edit_survey_path(survey), class: :post_mini_menu_link %>
    <%= link_to "Delete", survey_path(survey, ajax_req: !str_to_bool(@showing)), method: :delete, remote: !str_to_bool(@showing), class: :post_mini_menu_link,
      data: { confirm: "Are you sure you want to permanently delete this survey?" } %>
  <% end %>
</div>
