<div class="surveys_card" align="center">
  <h2 class="surveys_page_header">
    Thank you for taking our survey
  </h2>
</div>

<% if invited? %>
  <div class="surveys_card" align="center">
    <p>
      <%= link_to 'See all surveys <i class="fa fa-home"></i>'.html_safe, surveys_path %>
    </p>
  </div>
<% end %>
