<% parents = (defined?(parents) and parents.present?) ? "groups" : "posts" %>

<% if items.present? %>
  <div id="feed_container">
	  <%= render "#{parents}/feed", items: items %>

    <div align="center">
      <%= render "pages/red_buffer_wheel", items: items, all_items: all_items %>
    </div>
  </div>
<% end %>
