<div class="modal shared_item_modal">
  <div class="vertical_spacer"></div>

  <%= render "app/close_modal_link" %>

  <%= render "posts/switch_form_buttons" %>

  <%= render 'posts/switch_form', content_type: :post %>

  <div id="footer_spacing_container"></div>
</div>
