<div class="modal shared_item_modal">
  <div class="vertical_spacer"></div>

  <%= render "app/close_modal_link" %>

  <div class="card" id="post_form_card" align="center">
    <%= render 'form' %>
  </div>

  <div id="footer_spacing_container"></div>
</div>
