<%= link_to show_new_post_form_modal_path, remote: true do %>
  <div class="new_post_button new_post_button_mobile" align="center">
    <div class="new_post_button_txt_mobile">
      <i class="fa fa-pencil"></i>
    </div>
  </div>
<% end %>
