<% @content_type = content_type if defined? content_type %>

<div id="switch_form">
  <% case @content_type %>
  <% when :post %>
    <div class="card" id="post_form_card" align="center">
      <%= render 'form' %>
    </div>
  <% when :shared_item %>
    <%= render 'shared_items/form' %>
  <% when :survey %>
    <%= render "surveys/form" %>
  <% when :proposal %>
    <div class="card">
      <%= render "proposals/new" %>
    </div>
  <% end %>
</div>
