<div class="blog">
  <div class="blog_left_pane">
    <div class="all_blog_posts_label link_active">
      All 2 Posts
    </div>
  </div>
  <div class="blog_feed">
    <% (-1..-1).each do |blog_post_num| %>
      <%= render "blog/posts/#{blog_post_num.abs}" %>
    <% end %>
  </div>
</div>
