// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$main_font_size: 19px;
$card_max_midth: 950px;

.blog {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $card_max_midth;
  margin: 0 auto;
  width: 94.5%;
  overflow: auto;
  font-size: $main_font_size;
  margin-top: 75px;
}

.blog_left_pane {
  float: left;
  width: 25%;
}

.blog_feed {
  float: left;
  width: 75%;
}

.blog_post_card {
}

.blog_post_img {
  width: 100%;
}

.blog_post_img_container {
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog_post_item {
  margin-bottom: 25px;
}

.blog_post_title {
  font-size: 32.5px;
}


// for mobile
@media screen and (max-width: 975px) {
  .blog {
    width: 95%;
  }
  .blog_feed {
    width: 100%;
  }
  .blog_left_pane {
    width: 0%;
    height: 0;
    visibility: hidden;
  }
  .blog_post_img_container {
    height: auto;
    margin-bottom: 40px;
  }
  .blog_post_item {
    margin-bottom: 20px;
  }
}

// for desktop
$desktop_card_max_width: 1125px;
@media screen and (min-width: 1300px) {
  .blog {
    max-width: $desktop_card_max_width;
  }
}
