// Place all the styles related to the item_libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// top, right, bottom, left

.item_library_index_card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 15px 7.5px;
  background: white;
  max-width: 1750px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 94.5%;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
  overflow: hidden;
}

.shared_items_container {
  float: left;
  width: 70%;
}

// for mobile
@media screen and (max-width: 975px) {
  .shared_items_container {
    width: 100%;
  }
  .item_library_index_card {
    width: 92.5%;
  }
}
