// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require blog.css
 *= require actiontext.css
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$main_font_size: 20px;

$active_color: rgb(95, 210, 140);

html {
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: initial;
}

a {
	text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: rgb(50, 50, 50);
  font-weight: 400;
  font-size: $main_font_size;
}

a:hover {
  text-decoration: underline;
}

::selection {
  color: white;
  background: rgb(85, 210, 140);
}

$card_max_midth: 950px;
@mixin card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $card_max_midth;
  margin: 0 auto;
  width: 94.5%;
  overflow: auto;
  font-size: $main_font_size;
}

@mixin standard_form_element {
  width: 55%;
  max-width: 275px;
}

.card {
  @include card;
  line-height: 175%;
}

.card_col {
  float: left;
  width: 47.5%;
}

.card_col_spacer {
  float: left;
  width: 5%;
  height: 5px;
}

.header_card {
  @include card;
  padding-bottom: 12.5px;
}

.page_header {
  font-size: 35px;
  width: 80%;
}

.standard_form_button {
  @include standard_form_element;
  height: 35px;
  background: rgb(250, 250, 250);
  color: rgb(70, 70, 70);
  border-color: rgb(205, 205, 205);
  border-radius: 3px;
}

.standard_text_field {
  @include standard_form_element;
  margin-bottom: 7.5px;
  display: block;
  font-size: $main_font_size;
}

.vertical_spacer {
  padding-bottom: 85px;
}

.avatar_container {
  position: absolute;
  top: 35px;
  left: 8.5%;
}

.avatar_img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@mixin template_avatar_item {
  position: absolute;
  left: 62.5px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
}

.avatar_name {
  @include template_avatar_item;
  top: 2.5px;
  font-size: 18px;
}

.avatar_title {
  @include template_avatar_item;
  top: 27.5px;
}

.header_link:hover {
  text-decoration: none;
  color: $active_color;
}

.main_img {
  display: block;
  position: relative;
  border: 0px solid white;
  margin: 0 auto;
  margin-bottom: 17.5px;
  max-width: $card_max_midth;
  width: 94.5%;
}

.scroll_to_top_link_container {
  position: fixed;
  bottom: 27.5px;
  right: 37.5px;
  z-index: 5;
  color: rgb(200, 200, 200);
}

.scroll_to_top_link_icon {
  font-size: 50px;
}

.scroll_to_top_link {
  display: none;
}

.nav_bar {
  position: absolute;
  top: 50px;
  right: 8.5%;
}

.nav_bar_link {
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}

.link_active {
  color: $active_color;
}

.link_soft {
  color: rgb(200, 200, 200);
}

.link_underlined {
  text-decoration: underline;
}

.menu_container {
  transition: all .4s ease-in-out;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.menu_open {
	background: white;
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  z-index: 15;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
  border-bottom-left-radius: 5px;
}

.menu_link {
  position: absolute;
  top: 32.5px;
  right: 15px;
  display: block;
  height: 20px;
  width: 20px;
  visibility: hidden;
  font-size: $main_font_size;
  z-index: 15;
}

.nav_links {
  padding-top: 17.5px;
  padding-left: 7.5px;
}

.nav_menu_link {
	font-size: 50px;
	display: block;
	padding: 5px 20px;
  background: white;
}

.footer {
  width: 100%;
  background: rgb(38, 38, 38);
  min-height: 668px;
  overflow: auto;
  padding-bottom: 10px;
}

.footer_menu {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.footer_menu_label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.footer_menu_item {
  display: block;
}

$template_footer_card_top_padding: 60px;

.footer_card {
  @include card;
  line-height: 175%;
  padding-top: $template_footer_card_top_padding;
}

.footer_card_content {
  margin-bottom: 70px;
  width: 85%;
}

.footer_card_name {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 7.5px;
}

.footer_card_email {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27.5px;
}

.footer_text {
  color: rgb(95, 95, 95);
  font-weight: 300;
  font-size: $main_font_size;
}

.footer_dark_link {
  color: rgb(60, 60, 60);
}
// end of global css

// for mobile
$mobile_font_size: 18px;
@media screen and (max-width: 975px) {
  a, .standard_text_field {
    font-size: $mobile_font_size;
  }
  .page_header {
    font-size: 30px;
    width: 100%;
  }
  .card {
    @include card;
    font-size: $mobile_font_size;
    width: 90%;
  }
  .card_col {
    width: 100%;
  }
  .avatar_container {
    top: 25px;
    left: 15px;
  }
  .avatar_img {
    width: 40px;
    height: 40px;
  }
  .avatar_name {
    top: 1px;
    left: 52.5px;
    font-size: 16px;
  }
  .avatar_title {
    top: 22.5px;
    left: 52.5px;
  }
  .nav_bar {
    visibility: hidden;
  }
  .header_card {
    width: 92.5%;
    padding-bottom: 1.5px;
  }
  .vertical_spacer {
    padding-bottom: 65px;
  }
  .main_img {
    width: 100%;
  }
  .menu_link {
    visibility: visible;
  }
  .menu_open {
    width: 100%;
    height: 100%;
  }
  .footer_card {
    padding-top: $template_footer_card_top_padding;
  }
  .footer_text {
    font-size: $mobile_font_size;
  }
  .footer_menu_label {
    font-size: $mobile_font_size;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .footer_card_email {
    margin-bottom: 15px;
  }
  .footer_card_content {
    margin-bottom: 40px;
    width: 90%;
  }
}
// end mobile

// for desktop
$desktop_card_max_width: 1125px;
@media screen and (min-width: 1300px) {
  .main_img, .card {
    max-width: $desktop_card_max_width;
  }
  .header_card {
    max-width: $desktop_card_max_width;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .page_header {
    width: 65%;
  }
  .footer_card_content {
    width: 50%;
  }
  .footer_menu {
    width: 33.333333%;
  }
}

// for large desktop
@media screen and (min-width: 1400px) {
  .avatar_container {
    left: 20.5%;
  }
  .nav_bar {
    right: 20%;
  }
}
