// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin template_card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: 750px;
  margin: 0 auto;
  width: 94.5%;
  font-size: 16px;
}

.template_card {
  @include template_card;
  line-height: 175%;
}

.template_header_card {
  @include template_card;
  padding-bottom: 12.5px;
}

.template_page_header {
  font-size: 35px;
}

.template_vertical_spacer {
  padding-bottom: 85px;
}

.template_avatar_container {
  position: absolute;
  top: 35px;
  left: 95px;
}

.template_avatar_img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@mixin template_avatar_item {
  position: absolute;
  left: 62.5px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
}

.template_avatar_name {
  @include template_avatar_item;
  top: 2.5px;
  font-size: 18px;
}

.template_avatar_title {
  @include template_avatar_item;
  top: 27.5px;
}

.template_main_img {
  display: block;
  position: relative;
  border: 0px solid white;
  margin: 0 auto;
  margin-bottom: 17.5px;
  max-width: 950px;
  width: 94.5%;
}

.template_nav_bar {
  position: absolute;
  top: 50px;
  right: 85px;
}

.template_nav_bar_link {
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}

.template_link_active {
  color: #00d86c;
}

.template_link_soft {
  color: rgb(200, 200, 200);
}

.template_card_label {
  font-weight: bold;
  font-size: 14px;
}

.template_menu_container {
  transition: all .4s ease-in-out;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.template_menu_open {
	background: white;
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  z-index: 15;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
  border-bottom-left-radius: 5px;
}

.template_menu_link {
  position: absolute;
  top: 32.5px;
  right: 15px;
  display: block;
  height: 20px;
  width: 20px;
  visibility: hidden;
  font-size: 20px;
}

.template_nav_links {
  padding-top: 17.5px;
  padding-left: 7.5px;
}

// for mobile
@media screen and (max-width: 975px) {
  .template_page_header {
    font-size: 30px;
  }
  .template_card {
    @include template_card;
    width: 90%;
  }
  .template_avatar_container {
    top: 25px;
    left: 15px;
  }
  .template_avatar_img {
    width: 40px;
    height: 40px;
  }
  .template_avatar_name {
    top: 1px;
    left: 52.5px;
    font-size: 16px;
  }
  .template_avatar_title {
    top: 22.5px;
    left: 52.5px;
  }
  .template_nav_bar {
    visibility: hidden;
  }
  .template_header_card {
    width: 92.5%;
    padding-bottom: 1.5px;
  }
  .template_vertical_spacer {
    padding-bottom: 65px;
  }
  .template_main_img {
    width: 100%;
  }
  .template_menu_link {
    visibility: visible;
  }
  .template_menu_open {
    width: 100%;
    height: 100%;
  }
}

// for desktop large
@media screen and (min-width: 1400px) {
  .template_avatar_container {
    left: 20%;
  }
  .template_nav_bar {
    right: 20%;
  }
  .template_main_img, .template_card {
    max-width: 1125px;
  }
  .template_header_card {
    max-width: 1125px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .template_page_header {
    width: 80%;
  }
  .template_card_content {
    width: 60%;
  }
}
