// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin template_card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  background: white;
  border: 0px solid white;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 94.5%;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
  border-radius: 5px;
}

.template_card {
  @include template_card;
}

@mixin section_part {
  width: 100%;
  min-height: 500px;
  text-align: center;
  position: relative;
  overflow: auto;
}


@mixin forrest_web_co_img {
  width: 50%;
  margin-top: 17.5px;
  margin-right: 10px;
  margin-bottom: 2.5px;
}

.section_part {
  @include section_part;
}

.fwc_sample_templates_container {
  margin-left: 2.5%;
}

.fwc_sample_templates_img_container {
  position: absolute;
  top: 37.5px;
  right: 35px;
  width: 35%;
}

.fwc_sample_templates_img {
  float: left;
  width: 40%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.fwc_sample_templates_img_cascade {
  width: 100%;
}

.fwc_sample_templates_cascade_img {
  width: 100%;
}

.web_co_email_link {
  font-size: 14px;
}

.web_co_bio_card {
  clear: both;
  overflow: auto;
}

.forrest_web_co_img {
  @include forrest_web_co_img;
  float: left;
}

// for mobile
@media screen and (max-width: 975px) {
  .template_card {
    @include template_card;
    width: 90%;
  }
}

// for mobile, very small
@media screen and (max-width: 450px) {
  .fwc_sample_templates_img_container {
    position: absolute;
    top: 80px;
    right: 35px;
    width: 35%;
  }
}
